.all{
    width: 80%;
    margin:0 auto;
    
}
.iconfont{
    font-family: 'iconfont'!important;
}
.main{
    height: 620px;
    background-color: #efefef;
}
.logindis{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    background-color: rgb(30,30,30,0.6);
}

.display{
    display: block;
    
}
/* ------------------- */


.loginpage{
    position: relative;
    width: 360px;
    height: 480px;
    margin: 200px auto;
    border: 1px solid #dbd9de;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #dbd9de;
    background-color: rgba(193, 229, 229);
    animation-name: loginwindow;
    animation-duration: 0.5s;
}
/* 窗口动画效果 */
@keyframes loginwindow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.loginpage .closebtn{
    position: absolute;
    color: #FFF;
    font-size: 30px;
    top: -30px;
    right: -25px;
}
.loginpage ul li input{
    width: 280px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 3px;
    padding:0 3px;
}
.loginpage ul{
    width: 280px;
    margin:0 auto;
}
.loginpage ul li p {
    width: 280px;
    margin-top: 10px;
    display: inline-block;
}
.loginpage h1{
    text-align: center;
    margin-top: 25px ;
}
.loginpage .red{
    height: 18px;
    /* display: none; */
    color: red;
    
}
.loginpage ul li .borderg{
    border-color: #61a781;
   
}
.loginpage ul li .borderr{
    border-color: red;
  
}
.loginpage .green{
    height: 18px;
    /* display: none; */
    color: #61a781;
    
}
.loginpage ul li input:last-child{
    width: 280px;
    height: 45px;
    color: white;
    background-color: #318dd9;
    margin-top: 10px;
    border-radius: 3px;
}

/* --------------- */
.main .top{
    position: relative;
    width: 100%;
    height: 789.47;
    overflow: hidden;
    perspective: 200px;
    transform-style: preserve-3d;
}
.main .top img{
    width: 100%;
    margin-top: 10px;
    transition:all 0.5s;
}
.main .top img:hover{
    transform:translateZ(5px);
}

.nav .snorlax{
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    color: #1f696c;
}
.nav .home,.nav .login{
    cursor: pointer;
}
.nav .login{
    float: right;
    margin-right: 50px;
    margin-top: 60px;
    font-size: 20px;
    border-bottom:1px solid #1f696c;
}
.nav .home{
    float: right;
    margin-right: 50px;
    margin-top: 60px;
    font-size: 20px;
    border-bottom:1px solid #1f696c;
}
.myinfo{
    position: absolute;
    width: 100%;
    bottom: 65px;
    height: 130px;
    
    background:rgba(255, 255, 255, 0.8);
}
.myinfo p{
    float: right;
    margin-right: 50px;
    margin-top: 8px;
    text-align: right;
    font-size:26px;
    color: #1f696c;
}
.white{
    
    padding-top: 100px;
    background-color: #fff;
}
.white .projectt{
    text-align: center;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    color:#1f696c;
    font-weight:bold ;
    font-size: 20px;
}
.project ul{
    margin: 0 auto;
}
.main .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}
.project ul li{
    width: 507.1px;
    height: 333px;
    padding:50px 0;
    border:1px solid transparent;
    border-radius: 10px;
    float: left;
    transition:all 0.4s;
}
.project ul li:hover{
    border:1px solid #1f696c;
}
.project img  {
    margin-left: 157px;
}
.project p{
    margin-top: 10px;
    margin-bottom: 50px;
    font-size:20px;
    text-align: center;
}
.link .location{
    text-align: center;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    color:#fff;
    font-weight:bold ;
    font-size: 20px;
}
.link {
    height: 300px;
    color: #fff;
    padding-top: 20px;
    
    background-color: #27868a;
}
.link ul{
    float: left;
    margin-left: 100px;
    font-size: 15px;
}
.link .loca{
    float: right;
    margin-right: 100px;
    margin-top: 109px;
    font-size: 15px;
}
.link ul li {
    margin-left: 100px;
    margin-bottom: 20px;
}
