<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书购物车</title>

    <link rel="stylesheet" href="cart.css">

</head>

<body>
    <div class="main">
        <div v-if='books.length'>
            <table class="cart" id="cart">
                <thead>
                    <tr>
                        <!-- 一行 -->
                        <td></td>
                        <td>书籍名称</td>
                        <td>出版日期</td>
                        <td>价格</td>
                        <td>购买数量</td>
                        <td>操作</td>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in books">
                        <td>{{item.id}}</td>
                        <td>{{item.bname}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.price|showPrice}}</td>
                        <td>
                            <button @click='decrement(index)' :disabled='item.count <=1'>-</button>
                            {{item.count}}
                            <button @click='increment(index)'>+</button></td>
                        <td><button @click='remove(index)'>移除</button></td>
                    </tr>
                </tbody>
            </table>
            <h2>总价格为：{{totalPrice|showPrice}}</h2>
        </div>
        <h2 v-else>购物车为空</h2>
    </div>

    <script src="vue.js"></script>
    <script src="cart.js"></script>
</body>

</html>